body {
    margin: 0;
}

.container {
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul {
    display: flex;
}

.header nav ul li a {
    color: #000;
    font-size: 1rem;
    padding: 10px 60px;
    transition: 0.3s;
}

.header nav ul li a:hover {
    text-decoration: underline;
}


/* Menu Hamburguer */

.header .menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header nav label {
    display: flex;
    flex-direction: column;
}

.header .hamburguer {
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before,
.header .hamburguer:after {
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.header .hamburguer:before {
    top: -10px;
}

.header .hamburguer:after {
    bottom: -10px;
}

.header input {
    display: none;
}

.header input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

.header input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

/*-----------------------------------------------------------*/


.hero {
    padding: 80px 25px;
}

.hero .container {
    display: flex;
    align-items: flex-start;
}

.hero-content {
    width: 50%;
    padding-top: 40px;
}

.hero-content h2 {
    font-size: 3.5em;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.hero-content p {
    line-height: 1.6;
    margin-bottom: 30px;
    width: 65%;
}

.contact-info h3, .social-links h3 {
    margin-bottom: 10px;
    font-size: 1.6em;
    font-family: 'Times New Roman', Times, serif;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

.social-links ul li {
    margin-bottom: 5px;
}

.social-links ul li a {
    text-decoration: none;
    color: #333;
    text-decoration: underline;

}



.form-container {
    width: 40%;
}

.form-container .form label {
    font-size: 16px;
    font-weight: 400;
}

.form input, .form select, .form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
    border: 1px solid #F7F7F7;
    background-color: #F7F7F7;
    border-radius: 5px;
    box-sizing: border-box;
}

.form select {
    color: #B2B2B2;
}

.form textarea {
    height: 150px;
    resize: none;
}

.form button {
    background-color: #000000;
    color: white;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    border: none;
    cursor: pointer;
}


.error {
    border: 2px solid red !important;
}

.preenchido {
    border: 2px solid green !important;
}

.errorMessage {
    color: red;
}

.desativado {
    display: none;
}